@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.App {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  background-color: #eeecf6;
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App,
button {
  font-family: "Josefin Sans", sans-serif;
  color: #838bc2;
  border-radius: 10px;
}

.App,
h1 {
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
